*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  
}
.banner{
  width: 100%;
  height: 100%;
  background-image:linear-gradient(rgba(50,50,50,0.75),rgba(50,50,50,.75)),url(../pic/fit.jpg);
  background-size: cover;
  background-position: center;    
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 120px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px ;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.section{
  width: 100%;
  min-height:100vh ;
}
.container{
  width: 80%;
  display: block;
  margin:auto;
  padding-top: 100px;
  ;
}
.content-section{
  text-shadow: 1px 1px  #0c28c5;
  width:50%;
  color: rgb(181 183 71);  
}

.image-section{
  float: right;
  width: 40%;
}
.image-section img {
  width: 100%;
  height: auto;
}
.content-section.title{
  text-transform: uppercase;
  font-size: 28px;
}
.content-section.content h3 {
  margin-top: 20px;
  color:#5d5d5d ;
  font-size: 21px;
}
.content-section.content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height:1.5 ;
}
.button{
  color:#fff;
}

.content-section.content.button {
  margin-top: 30px;
}
.content-section.content.button a{
  background-color: #d31414;
padding :12px 40px ; 
text-decoration: none;
color: #fff;
font-size: 25px;
letter-spacing: 1.5px;
}
.content-section.content.button a:hover{
  background-color : #a5a5a5;
  color:#fff;
}

.content-section.social{
  margin:40xp 40px ;
}
.content-section.social i{
color:#a52a2a ; 
font-size: 30px;
padding :0px 10px ; 
}
.content-section.social i:hover{
color: #3d3d3d;
}

@media screen and(max-width: 768px){
  .container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top: 50px;
  }
  .content-section{
    float: none;
    width:100%;
    display: block;
    margin: auto;
  }
  .image-section{
    float: none;
    width:100%;
    
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section.title{
    text-align: center;
    font-size: 19px;
  }
  .content-section.content.button {
    text-align: center;
  }
  .content-section.content.button a{
  padding :9px 30px ; 
} 
.content-section.social{
  text-align: center;
}
}
